.App {
  text-align: center;
}

nav{
  background-color: #7530db;
  height:4rem;
  width:auto;
}

nav ul {
  display:flex;
  padding-right:2rem;
}

nav ul li{
  list-style-type:none;
  margin: 1rem;
  color:white;
}

.search{
  width:"80%";
   margin:"0 auto";
    padding:"20px";
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
